*.classpath
*.project
**/*.settings
**/bin/*
**/lib/*
*.ipr
*.iws
*.iml
**/*.iml
#
.DS_Store
/.gradle
**/.gradle/*
#
offers.txt
out/*
**/build/*
!.gitignore
**/out/*
!.gitignore
offer-location-service/.idea
soakTest/.idea
**/target
offer-location-service/o2pm-nucleus.log
target
.idea
.idea/*
*/.idea/*
PM-frontend/web-app/js/prototype/*
soaClient/src/main/generated/*
stacktrace.log
.metadata/*
classes
**/activemq-data
activemq-data/*
**/.groovy
acceptance-uk.co.o2.pm.util.test.log

# C# interview pairing exercise 
docs/interviews/roman-numerals-c#/**/bin/*
docs/interviews/roman-numerals-c#/**/obj/*

por.xml.sha1
coverage-error.log
help
